{% extends "blog/base.html" %}
{% block content %}
{% load static %}
    {% for post in posts %}
                <style>
                    img {
                      border-radius: 100%;
                    }
                    p.ex1 {
                      padding-right: 40px;
                      padding-left: 10px;
                      white-space: pre-line;
                    }
                </style>
        <article class="media content-section" style="padding: 10px 28px;">
            <div class="media-body">
                <div class="article-metadata">
                    <img src="{{ post.author.profile.image.url }}" width="60" height="60">
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted}}</small>
                </div>
                <h3><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
                <p class="ex1">{{ post.content }}</p>
                <h5>BY: {{ post.by }}</h5>
                <div class="d-flex flex-row">

                    <a class="btn btn-info btn-sm" href="{% url 'post-detail' post.id %}">Reviews</a>

                    <form method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}
                        <button style="background-color: transparent; border: none;" type="submit">
                            <img src="{% static 'blog/images/like.png' %}"><span>{{ post.likes.all.count }}</span>
                        </button>
                    </form>

                    <form method="POST" action="{% url 'dislike' post.pk %}">
                        {% csrf_token %}
                        <button style="background-color: transparent; border: none;" type="submit">
                            <img src="{% static 'blog/images/dislike.png' %}"><span>{{ post.dislikes.all.count }}</span>
                        </button>
                    </form>
                </div>
                <hr>
            </div>
        </article>
<br>

    {% endfor %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock content %}
